{% extends "users/base.html" %}

{% block head_content %}
    <title>Platzigram signup</title>
{% endblock %}

{% block container  %}
    
    <main class="form-signin container ">

        {% if error %}
          <p class="alert alert-danger"> {{error}}</p>
        {% endif %}

        <form action="{% url "signup"  %}" method="post">
            
            {% csrf_token %} <!--token for secure auntenticated -->

            <h1 class="h3 mb-3 fw-normal my-2">Sign up!</h1>
            
                <input class="form-control mb-2" type="text" placeholder="Username" name="username" required="true"/>
            
                <input class="form-control mb-2" type="email" placeholder="email address" name="email" required="true"/>

                <input class="form-control mb-2" type="text" placeholder="Your first name" name="first_name" required="true"/>
            
                <input class="form-control mb-2" type="text" placeholder="Your last name" name="last_name" required="true"/>

                <input class="form-control mb-2" type="password" placeholder="Password" name="password" required="true"/>

                <input class="form-control mb-2" type="password" placeholder="confirm password" name="confirm_password" required="true"/>

        <button class="w-100 btn btn-lg btn-primary" type="submit">Register</button>
        
        </form>
        <p class="mt-4">
            Already have an account? <a href="{% url 'login' %}"> Login here.</a>
        </p>
    </main>

{% endblock %}