{% extends "base.html" %}

{% load static %}

{% block head_content %}
<title>@{{ request.user.username }} | Update profile</title>
{% endblock %}

{% block container %}

<div class="container mt-5">
    
    <div class="row  justify-content-md-center">

      <div class="col col-lg-2 col-12">
        <div class="media ">
            {% if profile.picture %}
                <img src="{{ profile.picture.url }}" class="rounded-circle mb-2 border border-4" height="100" />
            {% else%}
                <img src="{% static 'img/default-profile.png' %}" class="rounded-circle mb-2 border border-4" height="100" />
            {% endif %}

            <div class="media-body">
                <h5 class="ml-4">@{{ user.username }}</h5> <p>{{ user.get_full_name }}</p>
            </div>
        </div>
      </div>
      
      <div class="col col-lg-8 col-12">
        <div class="col-8 p-4 ml-2" id="profile-box">

            <form action="{% url 'users:update_profile' %}" method="POST" enctype="multipart/form-data" >
                {% csrf_token %}

                <h3 class="h3">Edit profile</h3>

                <hr>
                {# picture field #}
                <div class="form-group">
                    <label for="formFileSm" class="form-label ">Change profile photo</label>
                    <input class="form-control form-control-sm" type="file" name="picture" id="formFileSm">
                </div>
                <p class="text-danger fs-6 ">
                    {% for error in form.picture.errors %} 
                    <b>Picture:</b>{{error}}
                    {% endfor %}
                </p>

                {# website field #}
                <div class="form-group mb-2">
                    <label>Website</label>
                    <input
                        class="form-control {% if form.website.errors %}is-invalid{%endif%}"
                        type="text"
                        name="website"
                        placeholder="Website"
                        value="{% if form.website.errors %}{{form.website.value}}{% else %}{{profile.website}}{% endif %}"
                    />
                    <span class="invalid-feedback">
                      {% for error in form.website.errors %} 
                        {{error}}
                      {% endfor %}
                    </span>
                </div>
                
                {# Biography field #}
                <div class="form-group mb-2">
                    <label>Biography</label>
                    <textarea 
                    class="form-control 
                    {% if form.biography.errors %}
                      is-invalid
                    {%endif%}"
                    name="biography">{% if form.biography.errors %}{{form.biography.value}}{% else %}{{profile.biography}}{% endif %}</textarea>
                    <span class="invalid-feedback">
                      {% for error in form.biography.errors %} 
                        {{error}}
                      {% endfor %}
                    </span>
                </div>

                {# Phone number field #}
                <div class="form-group mb-2">
                    <label>Phone number</label>
                    <input
                        class="form-control 
                        {% if form.phone_number.errors %}
                          is-invalid
                        {%endif%}"
                        type="text"
                        name="phone_number"
                        placeholder="Phone number"
                        value="{% if form.phone_number.errors %}{{form.phone_number.value}}{% else %}{{profile.phone_number}}{% endif %}"
                    />
                    <span class="invalid-feedback">
                      {% for error in form.phone_number.errors %} 
                        {{error}}
                      {% endfor %}
                    </span>
                </div>

                <button type="submit" class="btn btn-primary btn-block mt-5">Update info</button>
            </form>
        </div>
      </div>
      <div class="col col-lg-2 col-12"></div>
    </div>
  </div>
    

{% endblock %}