 {% extends "base.html" %}
 {% load static %}

 {% block head_content %}
    <title>Platzigram feed</title>
 {% endblock %}

 {% block container %}
    <div class="row pt-5">
        {% for post in posts %}
        <div class="col-lg-4 offset-lg-4">
            <div class="media">
                <img src="{{ post.user.profile.picture.url }}" height="35" alt="{{ post.user.get_full_name }}" class="mr-3 rounded-circle">
                <b>{{ post.user.username }}</b>
                <div class="media-body">
                    <h5 class="mt-0">{{post.user.name.get_full_name}}</h5>
                    {{post.timestamp}}
                </div>
            </div>
            <img src="{{post.photo.url}}" alt="{{post.title}}" class="img-fluid mt-3 border rounded">
            <h6 class="ml-1 mt-1">{{post.title}}</h6>
        </div>
        {% endfor %}
    </div>

 {%endblock%}
