{% extends "base.html" %}

{% block head_content %}
<title>@{{ user.username }} | ToPic</title>
{% endblock %}



{% block container %}

    {%include "reusables/user_profile.html"%}
    
    <div class="container " id="user-posts">
        <div class="row g-3 mt-2">
            {% for post in posts %}
            <div class="col-4 pt-5 pb-5 pr-4 pl-4 ">
                <a href="{% url 'posts:post_detail' post.id %}" class="border">
                    <img src="{{ post.photo.url }}" alt="{{ post.title }}" class="img-fluid mx-auto d-block"/>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
    <hr>

{% endblock %}