{% extends "users/base.html" %}

 {% block head_content %}
    <title>ToPic login</title>
 {% endblock %}


 {% block container %}

    <div class="form-signin container px-5 py-1">
        
        {% if form.errors %}
            {% for key,error in form.errors.items %}    
            <p class="text-danger"> 
                *{% if key != '__all__' %}
                      {{key}}:
                    {% endif %}                        
                    {%for value in error%}
                      {{value}}
                    {% endfor %}
            </p>
            {%endfor%}
        {% endif %}

        <form action="{% url 'users:login'  %}" method="post">
            
            {% csrf_token %} <!--token for secure auntenticated -->

            <h1 class="h3 mb-3 fw-normal">Please Sign in!</h1>
            <div class="form-floating">
                <input class="form-control" type="text" placeholder="Username" name="username" />
                <label for="floatingInput">Username</label>
            </div>
            <div class="form-floating">
                <input class="form-control" type="password" placeholder="Password" name="password" />
                <label for="floatingInput">Password</label>
            </div>

            <div class="checkbox mb-3">
                <label>
                  <input type="checkbox" value="remember-me"> Remember me
                </label>
              </div>

              <input type="hidden" name="next" value="{%url 'posts:feed' %}">

        <button class="w-100 btn btn-lg btn-primary" type="submit">Sing in</button>
        
        </form>
        <p class="mt-4">
            Don't have an account yet? <a href="{% url 'users:signup' %}"> Sing up here.</a>
        </p>
    </div>


 {% endblock %}